
body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.bg-image{
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  border: 0.25rem double;
  background-color: white;
  transition: 0.3s all;
  margin-top: .5em;
  margin-bottom: .5em;
}

#start {
  margin-right: 2rem;
  border-color: blue;
  color: blue;
  box-shadow: 0.625rem -0.625rem 0.3125rem 0px blue;
}

#start:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
  border-color: white;
  box-shadow: -0.625rem 0.625rem 0.3125rem 0px blue;
}

#start:active {
  transition: 0s;
  transform: scale(0.8);
  box-shadow: 0px 0px 0.625rem 0.625rem blue;
  color: blue;
  background-color: white;
}

#reset {
  border-color: red;
  color: red;
  box-shadow: -0.625rem -0.625rem 0.3125rem 0px red;
}

#reset:hover {
  background-color: red;
  color: white;
  cursor: pointer;
  border-color: white;
  box-shadow: 0.625rem 0.625rem 0.3125rem 0px red;
}

#reset:active {
  transition: 0s;
  transform: scale(1.2);
  box-shadow: 0px 0px 0.625rem 0.625rem red;
  color: red;
  background-color: white;
}

#main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#panel {
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 2em;
  overflow: hidden;
  border: 0.5em solid rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
}

#panel-top {
  width: 100%;
  height: 20%;
  background-color: burlywood;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.elements {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  flex: 1;
  padding: 0.5rem;
}

.elements h1 {
  color: white;
  margin-right: 0.5rem;
  font-size: 1.25rem;
  text-align: center;
}

.element-box {
  height: 4rem;
  width: 4rem;
  background-color: white;
  font-size: 2.2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

#panel-bottom {
  width: 100%;
  background-color: lightcyan;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  overflow: hidden;
}

.numbers-button {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  border: 0.125rem solid black;
  background-color: rgb(39, 21, 0);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  margin: 0.3rem;
  transition: 0.2s all;
  box-sizing: border-box;
}

.numbers-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.numbers-button:active {
  opacity: 0.5;
  transform: scale(0.9);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 1rem;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 900;
  background-color: beige;
  border: 0.75rem double black;
}

.close {
  color: #aaa;
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 1440px){
  .elements h1{
    font-size: 3em;
  }
}

@media (max-width: 768px){
  .numbers-button {
    width: 2.1em;
    height: 2.1em;
    font-size: 3vw;
  }
  .element-box {
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .buttons {
    flex-direction: column;
  }

  #start, #reset {
    font-size: 2em;
    height: 3rem;
    width: 10rem;
    margin: 1rem;
  }

  .elements {
    flex-direction: column;
    width: 50%;
  }

  .elements h1 {
    font-size: .9em;
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .element-box {
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1rem;
  }

  .numbers-button {
    width: 2.7em;
    height: 2.7em;
    font-size: 3vw;
  }

  .modal-content {
    width: 90%;
    padding: 0.5rem;
    font-size: 1rem;
  }
}